<div ngClass="container">
    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
    </div>
    <div class="component-example">
        <div ngClass="grid">
            <ml-card ngClass="sample-column">
                <ml-card-header>Header</ml-card-header>
                <ml-card-container>Content</ml-card-container>
                <ml-card-footer>Footer</ml-card-footer>
            </ml-card>
        </div>
    </div>

    <ml-card class="component-example">
        <ml-card-header>Table example</ml-card-header>
        <ml-card-container>
            <ml-table [tableOptions]="tableOptions" [data]="tableData"></ml-table>
        </ml-card-container>
        <ml-card-footer>Footer</ml-card-footer>
    </ml-card>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
        <ml-card class="component-example">
            <ml-card-header>On/Off component</ml-card-header>
            <ml-card-container>
                <ml-switch [value]="true"></ml-switch>
            </ml-card-container>
            <ml-card-footer>Search, select drop items</ml-card-footer>
        </ml-card>

        <ml-card class="component-example">
            <ml-card-header>Button component</ml-card-header>
            <ml-card-container>
                <ml-button>Button</ml-button>
            </ml-card-container>
            <ml-card-footer>Search, select drop items</ml-card-footer>
        </ml-card>

        <ml-card class="component-example">
            <ml-card-header>Drop component</ml-card-header>
            <ml-card-container>
                <ml-drop name="drop" [items]="[{
                  id: 1,
                  parentId: 0,
                  title: 'test'}]">
                </ml-drop>
            </ml-card-container>
            <ml-card-footer>Search, select drop items</ml-card-footer>
        </ml-card>

        <ml-card class="component-example">
            <ml-card-header>Parts component</ml-card-header>
            <ml-card-container>
                <ml-parts name="parts" ngModel></ml-parts>
            </ml-card-container>
            <ml-card-footer>Show array elements separated</ml-card-footer>
        </ml-card>

        <ml-card class="component-example">
            <ml-card-header>Slug component</ml-card-header>
            <ml-card-container>
                <ml-slug name="slug" ngModel></ml-slug>
            </ml-card-container>
            <ml-card-footer>Show array elements separated</ml-card-footer>
        </ml-card>
    </form>
    <ml-card class="component-example">
        <ml-card-header>Message</ml-card-header>
        <ml-card-container>
            <ml-message [message]="'Success'" type="success" ngClass="message"></ml-message>
            <ml-message [message]="'Error'" type="error" ngClass="message"></ml-message>
            <ml-message [message]="'Info'" type="info" ngClass="message"></ml-message>
        </ml-card-container>
        <ml-card-footer>Show array elements separated</ml-card-footer>
    </ml-card>
    <ml-card class="component-example">
        <ml-card-header>Progress</ml-card-header>
        <ml-card-container>
            <ml-progress
                    [progressPercent]="50"
                    [progressText]="'50%'"
            ></ml-progress>
        </ml-card-container>
        <ml-card-footer>Show array elements separated</ml-card-footer>
    </ml-card>
    <ml-virtual-grid></ml-virtual-grid>
</div>
